* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.row {
  margin-left: -280px;
}

body {
  font-family: "Open Sans", sans-serif;
}

.main {
  width: 80vw;
  max-width: 600px;
  margin: 0 auto;
}

h1.heading {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-around;
}

.card {
  flex: 2 1 0;
  max-width: 600px;
  height: 450px;
  margin: 20px auto;
  border: 1px solid #ccc;
  font-family: "Merienda", cursive;
  padding: 20px 13px;
  box-sizing: border-box;
}
